<% content_for(:title) { t("tasks.edit_title") } %>

<%= turbo_frame_tag "modal_content" do %>
  <h2 class="section-title mb-4"><%= t("tasks.edit_title") %></h2>
  <%= render "form", task: @task %>
<% end %>
