<% content_for(:title) { t("phases.edit_title") } %>

<%= turbo_frame_tag "modal_content" do %>
  <h2 class="section-title mb-4"><%= t("phases.edit_title") %></h2>
  <%= render "form", phase: @phase %>
<% end %>
